@font-face {
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-family: 'Montserrat-Regular';
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-family: 'Montserrat-Bold';
}

@font-face {
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-family: 'Roboto-Light';
}