body {
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    padding-left: 165px;
    padding-right: 165px;
}

.headding {
    color: #fff;
    margin-top: 145px;
}

.headding h1 {
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 26px;
}

.headding p {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 106px;
}

.headding a {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.bgImg {
    position: relative;
    z-index: 1;
}

.active {
    font-weight: 700;
}

.navbar {
    padding-top: 93px;
}

.mask:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(198, 108, 73, 0.3);
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.nav-item {
    font-size: 18px;
    margin-left: 45px;
}

.navbar-light .navbar-toggler {
    color: rgb(255,255,255, 0);
    border-color: rgba(0,0,0,0);
}

.about {
    padding-top: 93px;
    padding-bottom: 115px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 56px;
}

.about p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}
.about p:nth-child(2) {
    margin-bottom: 25px;
}

.skillsBg, .getInBg {
    background-color: #FFFAF2;
    padding-top: 93px;
    padding-bottom: 145px;
}

.skills p {
    font-size: 18px;
    line-height: 25px;
    position: relative;
}
.psElements {
    padding-left: 109px;
}
.progress{
    background-color: #F5D6AB;
    margin-bottom: 23px;
    height: 24px;
    border-radius: 0;
    max-width: 446px;
}

.progress-bar {
    background-color: #C66C49;
}

.profile {
    margin-bottom: 65px;
}

.psElements > div {
    position: relative;
}

.psElements > *::before  {
    content: 'Profile';
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    top: 0;
    left: -150px;
}

.psElements p:nth-child(3), .psElements p:nth-child(5) {
    margin-bottom: 20px;
}

.psElements p:nth-child(3)::before, .psElements p:nth-child(5)::before, .psElements p:nth-child(7)::before {
    content: 'Tools';
}

.psElements div:nth-child(2)::before {
    content: 'UX Research';
}

.psElements div:nth-child(4)::before {
    content: 'UI Design';
}
.psElements div:nth-child(6)::before {
    content: 'Front-end Dev';
}

.portfolio {
    background-color: #FFF;
    padding-top: 93px;
    padding-bottom: 145px;
}

h4  {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}

.portfolio p {
    font-size: 18px;
    line-height: 30px;
}

.photo-1 {
    width: 350px;
    margin-right: 30px;
}

.photo-2 {
    width: 255px;
}

.photo-1 img:first-child, .photo-2 img:first-child {
    margin-bottom: 26px;
}

.getIn h3 {
    margin-bottom: 51px;
}

.getIn a {
    font-size: 18px;
    line-height: 22px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    margin-bottom: 14px;
}

#phone {
    font-size: 15px;
    line-height: 18px;
}

@media (max-width: 575px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .bgImg {
        background: url(../images/bg-es.png) no-repeat;
        background-size: cover;
    }
    .nav-item {
        font-size: 16px;
        margin-left: 20px;
    }
    .navbar {
        padding-top: 36px;
    }
    .navbar-light .navbar-toggler-icon {
        background: url(../images/burger-menu.png) no-repeat;
        order: 1;
    }

    .navbar-toggler {
        padding-left: 0;
        padding-right: 0;
    }
    .headding{
        text-align: center;
        margin: 40px 0;
    }
    .headding h1 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 13px;
    }
    .headding p {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 35px;
    }
    .headding a {
        font-size: 13px;
        line-height: 15px;
    }
    .navbar-brand {
        order: 2;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        align-self: flex-start;
    }
    .about {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    
    h3 {
        font-weight: 600;
        margin-bottom: 19px;
        text-align: center;
    }
    
    .about p {
        font-size: 12px;
        line-height: 15px;
    }
    
    .skillsBg, .getInBg, .portfolio {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    #person {
        width: 224px;
    }
    .person {
        width: 100%;
        text-align: center;
        margin-bottom: 26px;
    }
    .psElements {
        width: 100%;
    }
    .skills p {
        font-size: 12px;
    }
    .psElements {
        padding-left: 34%;
    }
    .progress{
        margin-bottom: 13px;
        height: 18px;
        max-width: 210px;
    }
    .profile {
        margin-bottom: 31px;
    }
    .psElements > *::before  {
        font-size: 12px;
        left: -100px;
    }
    .front {
        order: 1;
    }
    .UX {
        order: 3;
    }
    .UI {
        order: 2;
    }
    .psElements p:last-child {
        order: 1;
    }
    .psElements p:nth-child(5) {
        order: 2;
    }
    .psElements p:nth-child(3) {
        order: 3;
    }

    h4 {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    
    .portfolio p {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin: 0 auto 15px auto;
        width: 75%;
    }

    .portfolio-p {
        width: 100%;
    }
    .portfolio-p span {
        display: none;
    }
    .photos {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

    }
    .photo-1 {
        width: 170px;
        margin-right: 15px;
    }
    .photo-1 > img {
        width: 170px;
    }
    .photo-2 > img {
        width: 123px;
    }
    .photo-2 {
        width: 123px;
    }
    
    .photo-1 img:first-child, .photo-2 img:first-child {
        margin-bottom: 13px;
    }
    .getIn h3 {
        margin-bottom: 25px;
    }
    
    .getIn a {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 19px;
    }
    
    #phone {
        font-size: 12px;
        line-height: 15px;
    }

    .phone-block {
        margin-top: 30px;
    }
}

@media (min-width: 576px) {
    .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }
    .bgImg {
        background: url(../images/bg-sm.png) no-repeat;
        background-size: cover;
        min-height: 425px;
    }
    .nav-item {
        font-size: 18px;
        margin-left: 20px;
    }
    .navbar {
        padding-top: 65px;
    }
    .navbar-light .navbar-toggler-icon {
        background: url(../images/burger-menu.png) no-repeat;
        order: 1;
    }
    .navbar-toggler {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-brand {
        order: 2;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        align-self: flex-start;
    }
    .headding{
        text-align: center;
        margin: 65px 0;
    }
    .headding h1 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .headding p {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 45px;
    }
    .headding a {
        font-size: 15px;
        line-height: 17px;
    }
    .about {
        padding-top: 35px;
        padding-bottom: 40px;
    }
    
    h3 {
        font-weight: 600;
        margin-bottom: 23px;
        text-align: center;
    } 
    
    .about p {
        font-size: 18px;
        line-height: 30px;
    }

    .skillsBg, .getInBg, .portfolio {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #person {
        width: 350px;
    }
    .person {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    .psElements {
        width: 100%;
    }
    .skills p {
        font-size: 18px;
    }
    .psElements {
        padding-left: 31%;
    }
    .progress{
        margin-bottom: 16px;
        height: 20px;
        min-width: 300px;
        max-width: 350px;
    }
    .profile {
        margin-bottom: 31px;
    }
    .psElements > *::before  {
        font-size: 18px;
        left: -150px;
    }
    .front {
        order: 1;
    }
    .UX {
        order: 3;
    }
    .UI {
        order: 2;
    }
    .psElements p:last-child {
        order: 1;
    }
    .psElements p:nth-child(5) {
        order: 2;
    }
    .psElements p:nth-child(3) {
        order: 3;
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .portfolio p {
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        margin: 0 auto 20px auto;
        width: 80%;
    }

    .portfolio-p {
        width: 100%;
    }
    .portfolio-p span {
        display: none;
    }
    .photos {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .photo-1 {
        width: 281px;
        margin-right: 20px;
    }
    .photo-1 > img {
        width: 281px;
    }
    .photo-2 > img {
        width: 205px;
    }
    .photo-2 {
        width: 205px;
    }
    .photo-1 img:first-child, .photo-2 img:first-child {
        margin-bottom: 18px;
    }

    .getIn h3 {
        margin-bottom: 51px;
    }
    
    .getIn a {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 14px;
    }
    
    #phone {
        font-size: 15px;
        line-height: 18px;
    }

    .phone-block {
        margin-top: 30px;
    }

}

@media (min-width: 768px) {
    .container-fluid {
        padding-left: 120px;
        padding-right: 120px;
    }
    .bgImg {
        background: url(../images/bg–md.png) no-repeat;
        background-size: cover;
        min-height: 410px;
    }
    .nav-item {
        font-size: 18px;
        margin-left: 20px;
    }
    .navbar {
        padding-top: 65px;
    }
    .navbar-light .navbar-toggler-icon {
        background: url(../images/burger-menu.png) no-repeat;
    }
    .headding{
        margin: 40px 0;
    }
    .headding h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .headding p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 45px;
    }
    .headding a {
        font-size: 18px;
        line-height: 21px;
    }
    .about {
        padding-top: 70px;
        padding-bottom: 90px;
    }
    h3 {
        font-weight: 700;
        margin-bottom: 50px;
    }
    .skillsBg, .getInBg, .portfolio {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .person {
        margin-bottom: 50px;
    }
    .psElements {
        padding-left: 31%;
    }
    .progress{
        margin-bottom: 21px;
        height: 24px;
        max-width: 446px;
    }
    .profile {
        margin-bottom: 65px;
    }
    .psElements > *::before  {
        left: -170px;
    }
    h4 {
        margin-bottom: 20px;
    }
    
    .portfolio p {
       margin: 0 auto 20px auto;
       width: 90%;
    }
    .photo-1 {
        width: 349px;
        margin-right: 30px;
    }
    .photo-1 > img {
        width: 349px;
    }
    .photo-2 > img {
        width: 255px;
    }
    .photo-2 {
        width: 255px;
    }
    .photo-1 img:first-child, .photo-2 img:first-child {
        margin-bottom: 26px;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-left: 120px;
        padding-right: 120px;
    }
    .bgImg {
        background: url(../images/bg–lg.png) no-repeat;
        background-size: cover;
        min-height: 512px;
    }
    .nav-item {
        font-size: 18px;
        margin-left: 20px;
    }
    .navbar {
        padding-top: 65px;
    }
    .navbar-brand {
        left: 0;
        transform: translate(0);
    }
    .headding{
        margin: 60px 0;
        text-align: left;
    }
    .headding h1 {
        font-size: 64px;
        line-height: 77px;
    }
    .headding p {
        font-size: 24px;
        line-height: 29px;
    }
    #person {
        width: 300px;
    }
    .person {
        width: 30%;
    }
    .psElements {
        width: 70%;
    }
    .psElements > *::before  {
        left: -130px;
        font-size: 16px;
    }
    .skills p {
        font-size: 16px;
    }

    .front {
        order: 3;
    }
    .UX {
        order: 1;
    }
    .UI {
        order: 2;
    }
    .psElements p:last-child {
        order: 3;
    }
    .psElements p:nth-child(5) {
        order: 2;
    }
    .psElements p:nth-child(3) {
        order: 1;
    }
    .progress{
        margin-bottom: 19px;
        height: 21px;
        max-width: 446px;
    }
    .profile {
        margin-bottom: 35px;
    }
    h3 {
        text-align: left;
    }
    h4 {
        text-align: left;
    }
    
    .portfolio p {
        text-align: justify;
        width: 100%;
        font-size: 16px;
        line-height: 25px;
    }

    .portfolio-p {
        width: 40%;
    }
    .portfolio-p span {
        display: block;
    }
    .photos {
        width: 60%;
        padding-left: 0;
        padding-right: 0;
    }
    .photo-1 {
        width: 260px;
        margin-right: 19px;
        margin-left: 25px;
    }
    .photo-1 > img {
        width: 260px;
    }
    .photo-2 > img {
        width: 190px;
    }
    .photo-2 {
        width: 190px;
    }
    
    .photo-1 img:first-child, .photo-2 img:first-child {
        margin-bottom: 17px;
    }
    .phone-block {
        margin-top: 0;
        align-items: flex-start !important;
        height: 250px;
    }
    #top {
        align-self: flex-end;
    }
}

@media (min-width: 1200px) {
   
    .bgImg {
        background: url(../images/bg–xl.png) no-repeat;
        background-size: cover;
        min-height: 608px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .navbar {
        padding-top: 75px;
    }
    .headding {
        margin: 100px auto;
    }
    .headding h1 {
        margin-bottom: 20px;
    }
    .headding p {
        margin-bottom: 80px;
    }
    #person {
        width: 350px;
    }
    .psElements > *::before  {
        left: -160px;
        font-size: 18px;
    }
    .skills p {
        font-size: 18px;
    }
    .progress{
        margin-bottom: 21px;
        height: 24px;
        max-width: 446px;
    }
    .profile {
        margin-bottom: 65px;
    }
    .portfolio p {
        font-size: 18px;
        line-height: 30px;
    }
    .photo-1 {
        width: 329px;
        margin-right: 25px;
        margin-left: 25px;
    }
    .photo-1 > img {
        width: 329px;
    }
    .photo-2 > img {
        width: 240px;
    }
    .photo-2 {
        width: 240px;
    }
    .photo-1 img:first-child, .photo-2 img:first-child {
        margin-bottom: 22px;
    }
}

@media (min-width: 1400px) {
    .container-fluid {
        padding-left: 165px;
        padding-right: 165px;
    }
    .bgImg {
        background: url(../images/bg–xxl.png) no-repeat;
        background-size: cover;
        min-height: 704px;
    }
    .nav-item {
        margin-left: 40px;
    }
    .navbar {
        padding-top: 83px;
    }
    .psElements > *::before  {
        left: -180px;
    }
    .photo-1 {
        width: 349px;
        margin-right: 30px;
        margin-left: 25px;
    }
    .photo-1 > img {
        width: 349px;
    }
    .photo-2 > img {
        width: 255px;
    }
    .photo-2 {
        width: 255px;
    }
    .photo-1 img:first-child, .photo-2 img:first-child {
        margin-bottom: 26px;
    }
}

@media (min-width: 1600px) {
    .container-fluid {
        width: 1440px;
        padding-left: 165px;
        padding-right: 165px;
    }
    .bgImg {
        background: url(../images/header-bg.png) no-repeat;
        background-size: cover;
        height: 768px;
    }
    .nav-item {
        margin-left: 45px;
    }
    .navbar {
        padding-top: 93px;
    }
}



